
<mat-card class="rando-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nome personaggio qui</mat-card-title>
    <mat-card-subtitle>Status Qui</mat-card-subtitle>
    <mat-card-subtitle>Last Known Location:</mat-card-subtitle>
    <mat-card-subtitle>Location Qui</mat-card-subtitle>
    <mat-card-subtitle>First Seen in:</mat-card-subtitle>
    <mat-card-subtitle>Episodio Qui</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Immagine del personaggio">
  <mat-card-content>
  </mat-card-content>
</mat-card>
