
<mat-card class="rando-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{character?.name}}</mat-card-title>
    <mat-card-subtitle>{{character?.status}}</mat-card-subtitle>
    <mat-card-subtitle>Last Known Location:</mat-card-subtitle>
    <mat-card-subtitle>{{character?.location?.name}}</mat-card-subtitle>
    <mat-card-subtitle>First Seen in:</mat-card-subtitle>
    <mat-card-subtitle>{{character?.episode}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{character?.image}}" alt="Immagine del personaggio">
  <mat-card-content>
  </mat-card-content>
</mat-card>
